<div class="event">
    <h1>{{title}}</h1>
    <hr>
    <h2>{{{back}}}{{month}} {{day}}, {{year}}</a></h2>
    <p>Location: {{location}}</p>
    <p>Description: {{description}}</p>
    <button type="button" class="home-task" aria-label="Home">
        Home
    </button>
    <button type="button" class="delete" aria-label="Delete">
        Delete
    </button>
</div>